@tailwind base;
@tailwind components;

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 1.4rem !important;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: auto !important;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem !important;
}

.input {
    @apply 
    border 
    border-gray-300 
    dark:border-gray-600 
    dark:bg-transparent 
    rounded-md 
    w-full 
    py-2 px-3 
    focus:outline-none 
    focus:ring-1 
    focus-within:ring-1 
    appearance-none 
    transition 
    duration-150 
    dark:text-gray-100
    ease-in-out;

    &::placeholder {
        @apply text-gray-400;
    }

    &.input-invalid {
        @apply ring-1 ring-red-500 border-red-500;
    }

    &.input-lg {
        @apply text-lg;
    }
}

@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}